#Projects{
  background-color: light-gray;
  min-height: 500px;
  display: flex;
  align-items: center;
}

#Project
{
  background-color: gray;
  max-width: 500px;
  img
  {
    border-radius: 10px;
    max-width: 400px;
    max-height: 400px;
    padding: 10px;
  }
}

body{
  background-color: tan;
}
