#Projects
{
  background-color: white;
  
  border-style: solid;
  border-width: 5px;
  border-radius: 20px;
  border-color: gray;
  
  min-height: 700px;
  width: 100%;
  padding: 25px;
  display: flex;
  align-items: center;
}

#Project
{
  background-color: gray;
  max-width: 500px;
  img
  {
    border-radius: 10px;
    border-weight:
    max-width: 400px;
    max-height: 400px;
    padding: 10px;
  }
}

body{
  background-color: tan;
}
